.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mobileBackground {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.desktopBackground {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.logo {
  max-width: 100%;
  max-height: 100%;
  transition: transform 0.5s ease;
}

.logo:hover {
  transform: scale(1.1);
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 50px; /* 調整按鈕和 Logo 的距離 */
}

.button {
  padding: 12px 24px;
  font-size: 18px;
  font-weight: bold;
  background: none;
  color: #fff;
  border-color: #47ee9e;
  border-radius: 12px;
  border-width: 3px;
  cursor: pointer;
  transition: transform 0.5s ease;
  position: relative;
  overflow: hidden;
  outline: none;
}

.button:hover {
  color: #47ee9e;
  transform: scale(1.5);
}

.discord_button {
  padding: 10px 20px;
  font-size: 24px;
  background: none;
  color: #fff;
  border-color: #56abf9;
  border-radius: 12px;
  border-width: 3px;
  cursor: pointer;
  margin-right: 20px;
}


