@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  object-fit: cover;
  padding:0;
  margin:0;
  z-index: -1;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.logo {
  max-width: 100%;
  max-height: 100%;
  transition: transform 0.5s ease;
}

.logo:hover {
  transform: scale(1.1);
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 50px; /* 調整按鈕和 Logo 的距離 */
}

.button {
  padding: 12px 24px;
  font-size: 18px;
  font-weight: bold;
  background: none;
  color: #fff;
  border-color: #47ee9e;
  border-radius: 12px;
  border-width: 3px;
  cursor: pointer;
  transition: transform 0.5s ease;
  position: relative;
  overflow: hidden;
  outline: none;
}

.button:hover {
  color: #47ee9e;
  transform: scale(1.5);
}

.discord_button {
  padding: 10px 20px;
  font-size: 24px;
  background: none;
  color: #fff;
  border-color: #56abf9;
  border-radius: 12px;
  border-width: 3px;
  cursor: pointer;
  margin-right: 20px;
}

.about_container {
  width: 80rem;
  height: 2000px;
  margin-top: 170px;
  margin-bottom: 30px;
  padding: 40px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.about_title {
  font-size: 60px;
  font-weight: bold;
  font-family: 'Noto Sans TC', sans-serif;
}

.about_textSpace {
  margin-bottom: 20px;
  font-size: 20px;
  font-family: 'Noto Sans TC', sans-serif;
}

.about_logo {
  width: 200px;
  height: auto;
}

.about_videoContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.staffContainer {
  margin-top: 50px;
  font-family: 'Noto Sans TC', sans-serif;
}

.staffList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  font-family: 'Noto Sans TC', sans-serif;
}

.staffMember {
  text-align: center;
}

.avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}




