.container {
  left: auto;
  right: auto;
  width: 70vw;
  height: auto;
  margin-top: 20vh;
  margin-bottom: 5vh;
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
  background-color: rgb(244, 244, 244);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  overflow: hidden;
}

.background_video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  z-index: -1;
}

.background_image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  z-index: -1;
}
  
.title {
  font-size: 50px;
  font-weight: bold;
  font-family: 'Noto Sans TC', sans-serif;
}


.overlayText {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px 0;
  color: #fff;
  font-size: 14px;
  z-index: 2;
}
  
.textSpace {
  margin-bottom: 10px;
  font-size: 2vw;
  font-family: 'Noto Sans TC', sans-serif;
}

.gridOne {
  display: flex;
  justify-content: center;
  margin-bottom: auto;
}

.gridTwo {
  display: flex;
  justify-content: space-around;
  margin-bottom: auto;
}

.gridFour {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1em;
  justify-content: center;
  align-items: center;
  margin-bottom: auto;
}

.video_container_one {
  position: relative;
  flex: 1;
  max-width: 800px;
  height: 450px;
  margin: 1em;
  border-radius: 10px;
  overflow: hidden;
}

.video_container_two {
  position: relative;
  flex: 1;
  max-width: 560px;
  height: 315px;
  margin: 1em;
  border-radius: 10px;
  overflow: hidden;
}

.video_container_four {
  position: relative;
  flex: 1;
  max-width: 350px;
  height: 197px;
  margin: 1em;
  border-radius: 10px;
  overflow: hidden;
}

@media (max-width: 600px) {
  .container {
    margin-top: 17.5vh;
  }
  
  .video_container_one,
  .video_container_two,
  .video_container_four {
    width: 100%;
    height: auto;
  }
}