.discord_button {
    user-select: none; 
    padding: 12px 24px;
    font-size: 18px;
    background: none;
    color: #fff;
    border-color: #4ca3f4;
    border-radius: 12px;
    border-width: 3px;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    margin-right: 20px;
  }